<div class="aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="aboutUs__h1 aboutUs__h1--font"><span class="aboutUs__h1--colorGray">SOBRE </span><span class="aboutUs__h1--colorGreen">NÓS</span></h1>
			</div>
			<div class="col-sm-5">
					<%= image_tag 'nos.jpg', class: 'aboutUs__fotoIntegrantes'%>
			</div>		
			<div class="col-sm-6 offset-md-1">
				<div class="aboutUs__text">
					<p class="aboutUs__p">Assim mesmo, o aumento do diálog diferentes setores produtivos exige a precisão e a definição do remanejamento dos quadros funcionais. Assim mesmo, o aumento do diálog diferentes setores produtivos exige a precisão e a definição do remanejamento dos quadros funcionais.</p>
					<p class="aboutUs__p">Assim mesmo, o aumento do diálog diferentes setores produtivos exige a precisão e a definição do remanejamento dos quadros funcionais. Assim mesmo, o aumento do diálog diferentes setores produtivos exige a precisão e a definição do remanejamento dos quadros funcionais.</p>
				</div>
			</div>		
		</div>
	</div>
</div>