<section id="section-aboutUs" class="aboutUs__background">
	<div class="aboutUs">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="aboutUs__h1 aboutUs__h1--font"><span class="aboutUs__h1--colorGray">SOBRE </span><span class="aboutUs__h1--colorGreen">NÓS</span></h1>
				</div>
				<div class="col-sm-5">
						<%= image_tag 'nos.jpg', class: 'aboutUs__fotoIntegrantes'%>
				</div>		
				<div class="col-sm-6 offset-md-1">
					<div class="aboutUs__text">
						<p class="aboutUs__p">Somos a 7Sight, Fábrica de Software, gerida e composta por alunos do curso de Sistemas de Informação da UNIEURO de Brasília. Formada em Março de 2018, colocamos na prática o conhecimento adquirido em sala de aula, promovendo a capacitação dos membros ao atender nossos clientes buscando sempre a melhor solução!</p>
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="col-sm-4 aboutUs__marginTop">
					<div class="aboutUs__card">
						<%= image_tag 'target.svg', class: 'aboutUs__mvvIcon'%>
						<h3 class="aboutUs__mvvTitle">Missão</h3>
						<p class="aboutUs__mvvP">
							Promover a capacitação dos membros por meio da vivência empresarial, 
							através do desenvolvimento de soluções de acordo com a necessidade dos clientes.
						</p>
					</div>
				</div>
				<div class="col-sm-4 aboutUs__marginTop">
					<div class="aboutUs__card">
						<%= image_tag 'binoculars.svg', class: 'aboutUs__mvvIcon'%>
						<h3 class="aboutUs__mvvTitle">Visão</h3>
						<p class="aboutUs__mvvP">
							Ser reconhecida no mercado de Tecnologia da Informação como uma empresa 
							de excelência no desenvolvimento e fornecimento de soluções inovadoras.
						</p>
					</div>
				</div>
				<div class="col-sm-4 aboutUs__marginTop">
					<div class="aboutUs__card">
						<%= image_tag 'heart.svg', class: 'aboutUs__mvvIcon'%>
						<h3 class="aboutUs__mvvTitle">Valores</h3>
						<p class="aboutUs__mvvP">
							Proatividade, Evolução, Comprometimento, Inovação, Determinação, Empatia, União
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>