<section id="section-bunner" class="sectionBunner">
	<div class="sectionBunner__bunner">
			<div class="container">
				<p id="breakLines" class="sectionBunner__titleContainer" id="mudar"></p>
				<div class="sectionBunner__contactButton">
					<a class="btn btn-success sectionBunner__contactButton--color" href="#section-contact" role="button">ENTRAR EM CONTATO</a>
				</div>
			</div>
		</div>
</section>

