<section class="indicators">
	<div class="indicators__background">
	    <div class="container">

	    	<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 offset-sm-3">
							<div class="row">
								<div class="col-sm-6">
									<div class="indicators__paddingImg">
										<%= image_tag 'users.svg', class: 'indicators__Img'%>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="indicators__containertxt">
										<div class="indicators__paddingtxt">
											<p class="indicators__text--ColorGreen">16</p>
											<p class="indicators__text--ColorGreen">Membros</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 offset-sm-3">
							<div class="row">
								<div class="col-sm-6">
									<div class="indicators__paddingImg">
										<%= image_tag 'projects.svg', class: 'indicators__Img'%>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="indicators__containertxt">
										<div class="indicators__paddingtxt">
											<p class="indicators__text--ColorGreen">5</p>
											<p class="indicators__text--ColorGreen">Projetos</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
    	</div>
    </div>	
</section>