<section>
	<div class="indicators__background">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm-3">
	    			<div class="indicators__align"> 
		    			<div class="indicators__paddingImg">
		    				<%= image_tag 'user.png', class: 'indicators__Img'%>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="col-sm-3">
	    			<div class="indicators__align"> 
	    				<div class="indicators__paddingtxt">
			    			<p class="indicators__text--ColorGreen">18</p>
			    			<p class="indicators__text--ColorGreen">membros</p>
		    			</div>
	    			</div>
	    		</div>
	    		<div class="col-sm-3">
	    			<div class="indicators__align"> 
		    			<div class="indicators__paddingImg">
		    				<%= image_tag 'notebook.png', class: 'indicators__Img'%>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="col-sm-3">
	    			<div class="indicators__align"> 
	    				<div class="indicators__paddingtxt">
			    			<p class="indicators__text--ColorGreen">18</p>
			    			<p class="indicators__text--ColorGreen">membros</p>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    </div>	
</section>