<section id="section-navbar">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark container-fluid bg-dark" id="nav">
			<div class="container">

				<a class="navbar-brand h2 mb-0" href="#">
					<%= image_tag("logo.png", size: "150x55", :alt => "7Sight Logo") -%>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSite">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-aboutUs">Sobre</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-services">Serviços</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-team">Time</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-portifolium">Portfólio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-contact">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
</section>

