<section>
<div class="container">
	<div class="row">
		<!-- CARROSSEL INDICATORS -->
		<div id="portifolium__carouselSite" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			    <li data-target="#portifolium__carouselSite" data-slide-to="0" class="active"></li>
			    <li data-target="#portifolium__carouselSite" data-slide-to="1"></li>
			    <li data-target="#portifolium__carouselSite" data-slide-to="2"></li>
		  	</ol>
		<!-- CARROSSEL PICTURES -->  	
		    <div class="carousel-inner">
		        <div class="carousel-item active">
		        	<%= image_tag "3.jpg", alt:"imgCarousel1",class:"img-fluid d-block"%>
		        </div>
		        <div class="carousel-item">
		            <%= image_tag "4.jpg", alt:"imgCarousel2",class:"img-fluid d-block"%>
		        </div>
		        <div class="carousel-item">
		            <%= image_tag "3.jpg", alt:"imgCarousel3",class:"img-fluid d-block"%>
		        </div>
		    </div>
		    <!-- CARROSSEL CONTROL-BUTTONS -->
		    <a class="carousel-control-prev" href="#portifolium__carouselSite" role="button" data-slide="prev">
		        <span class="carousel-control-prev-icon"></span>
		    </a>
		    <a class="carousel-control-next" href="#portifolium__carouselSite" role="button" data-slide="next">
		        <span class="carousel-control-next-icon"></span>
		    </a>
		</div>
	</div>
</div>
</section>
