<section id="section-services">
    <div  class="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="services__h1 services__h1--font"><span class="services__h1--colorGray">NOSSOS </span><span class="services__h1--colorGreen">SERVIÇOS</span></h1>
                </div>   

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <%= image_tag 'computer.png', class: "services__images" %>
                        </div>
                    </div>

                    <h3 class="services__h3">Desenvolvimento de Site</h3>
                    <p class="services__p">Desenvolvimento de sites responsivos com sistemas gerenciadores de conteúdo (CMS).</p>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <%= image_tag 'config.png', class: "services__images" %>
                        </div>
                    </div>
                    <h3 class="services__h3">Desenvolvimento de Sistema</h3>
                    <p class="services__p">Desenvolvimento de sistemas personalizados e ajustados para agilizar e integrar seus processos.</p>
                </div>

            </div>
        </div>
    </div>
</section>