.aboutUs {
  margin-bottom: 2.5em;
}
.aboutUs__fotoIntegrantes {
  width: 100%;
}
.aboutUs__h1 {
  text-align: center;
  margin-bottom: 1.5em;
}
.aboutUs__h1--font {
  font-family: arial;
}
.aboutUs__h1--colorGray {
  color: #333333;
  font-weight: bold;
}
.aboutUs__h1--colorGreen {
  color: #63d32f;
}
.aboutUs__text {
  float: right;
}
.aboutUs__p {
  text-indent: 3em;
  text-align: justify;
}

.aboutUs__icon {
  width: 30%;
  display: block;
  margin: 2.5em auto 0.5em;
}

.aboutUs__mvvTitle {
  color: #63d32f;
  text-align: center;
}

.aboutUs__mvvP {
  text-align: center;
}

@media (max-width: 576px) {
  .aboutUs__icon {
    margin-top: 0.5em;
  }
  .aboutUs__text {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
