.contact{
    background-color: #333333;
    color: white;
    //margin-bottom: 2.5em;
    padding: 2.5em;
}
.contact__h1--colorGreen {
    color: #63d32f;
}
.contact__h1 {
    text-align: center;
    margin-bottom: 1.5em;
}
.contact__h1--font {
    font-family: arial;
}
.contact__h3 {
    margin-bottom: 0.7em;
}
.contact__info{
    padding-left: 7em;
    
}
.contact__h3--colorGreen {
    color: #63d32f;
}
.contact__p{
    width: 90%;
    margin-bottom: 3em;
}
.contact__icons{
    padding-right: 1.5em;
}
.contact__icons--tamanho{
    width: 12%;
}
.contact__input{
    border-radius: 0;
    border-bottom-width: 0.1em;
    border-right-width: 0.1em;
    background-color: #333333;
    color: white;
    border-bottom-color: #63d32f;
    border-top-color: #333333;
    border-right-color: #63d32f;
    border-left-color: #333333;
    width: 85%;
}
.contact__input:focus{
    background-color: #333333;
    color: white;
    
}
.contact__input::-webkit-input-placeholder  { 
    color:white; 
}
.contact__submit{
    border-radius: 0;
    background-color: #63d32f;
    color: #333333;
    font-weight: bold;
    border-color: #63d32f;   
}
#contact__submit--position{ 
    text-align: center;
    width: 87%; 
}