.footer {
  background-color: #333333;
}
.footer__p--container {
  text-align: center;
  color: white;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__p {
  margin: 0px;
}
.footer__linha {
  background-color: #63d32f;
  height: 4px;
}
