.portifolium__background {
  background-color: #e2e2e238;
  padding: 2.5em 0;
}

.portifolium__a {
  color: black;
  text-align: center;
}
.portifolium__p {
  text-indent: 3em;
  text-align: justify;
}
.portifolium__h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 1.5em;
}
.portifolium__h1--font {
  font-family: arial;
}
.portifolium__h1--colorGray {
  color: #333333;
}
.portifolium__h1--colorGreen {
  color: #63d32f;
}
.portifolium__picture {
  width: 100%;
  margin-bottom: 0.5em;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #404040;
}

#portifolium__carouselSite {
  padding: 0;
}

.portifolium__btn {
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
}
