.services__background {
  background-color: #e2e2e238;
  padding: 2.5em 0;
}
.services__h1 {
  text-align: center;
  margin-bottom: 1.5em;
}
.services__h1--font {
  font-family: arial;
}
.services__h1--colorGray {
  color: #333333;
  font-weight: bold;
}
.services__h1--colorGreen {
  color: #63d32f;
}
.services__p {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services__h3 {
  text-align: center;
  padding-top: 25px;
  align-items: center;
}
.services__images {
  display: block;
  width: 100%;
}
/* MEDIA QUERY RESPONSIVO Ainda sendo ajustado*/
@media (max-width: 768px) {
  .services__p {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
}
