.services{
	padding-bottom: 50px;
}
.services__h1{
	text-align: center;
    padding-bottom:60px;    
}
.services__h1--font{
	font-family: arial;
}
.services__h1--colorGray{
    color: #333333;
    font-weight: bold;
}
.services__h1--colorGreen{
	color: #63D32F;
}
.services__p{
	width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.services__p--font{
	font-family: Georgia;
}
.services__h3{
	text-align: center;
    padding-top: 25px;
    align-items: center;
}
.services__images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* MEDIA QUERY RESPONSIVO Ainda sendo ajustado*/
@media(max-width: 768px){
    .services__images{
        width: 100%;
        float: left;       
    }
    .services__p{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
    }
}